* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6em;
  background-color: rgb(61, 59, 48);
  color: rgb(61, 59, 48);
}
footer {
  display: flex;
  align-items: center;
  width: 100%;
  transition: all .5s ease-in-out;
  padding: 20px 50px;
  background-color: rgb(61, 59, 48);
  justify-content: space-around;
  color: white;
}
footer div {
  width: 60%
}
#footersocial {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 auto;
  opacity: 1;
}
#footersocial a {
  margin-right: 30px
}
#footersocial a:last-child {
  margin-right: 0px
}
h1 {
  text-transform: uppercase;
  line-height: 1.2em
}
h2 {
  font-size: 1.75em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em
}
h3 {
  font-size: 1.25em;
  text-transform: uppercase;
}
a {
  color: rgb(170, 196, 23);
  text-decoration: none;
  text-transform: uppercase;
}
header {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	transition: all .5s ease-in-out;
  padding: 10px 50px;
	z-index: 3;
	background-color: rgb(61, 59, 48);
  justify-content: space-around;
}

header div, nav {
	width: 30%
}
nav {
	opacity: 1
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	font-weight: 400;
	text-transform: uppercase;
}
nav a {
	color: white;
	text-decoration: none;
	transition: all .5s ease-in-out;
	position: relative;
}
nav a:hover {
	color: rgb(170, 196, 23)
}
nav a:after {
	border-bottom: 3px solid rgb(170, 196, 23);
	content: '';
	left: 0;
	margin-top: -.125em;
	position: absolute;
	right:0;
	top: 0%;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}
nav a:hover:after {
	border-bottom: 3px solid rgb(170, 196, 23);
	content: '';
	opacity: 1;
	left: 0;
	margin-top: -.125em;
	position: absolute;
	right: 0;
	top: 50%;
}
nav .router-link-active {		
	color: white;
}

nav .router-link-active > span {
	font-size: 1em!important;
	color: white;
}

nav .router-link-active::after {
	border-bottom: 3px solid rgb(170, 196, 23);
	content: '';
	left: 0;
	margin-top: -.125em;
	position: absolute;
	opacity: 1;
	right: 0;
	top: 50%;
}
#socialicons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 0 auto;
  opacity: 1
}
.icon {
  color: white;
  transition: all 0.5s ease-in-out;
}
.icon:hover {
  color: rgb(170, 196, 23);
}
#socialicons a {
  margin-right: 30px
}
#socialicons a:last-child {
  margin-right: 0px
}
header div:nth-of-type(1) {
	opacity: 0;
	transition: all .5s ease-in-out;
	text-align: center;
}
.headerlogocontainer {
	display: inline-block;
	opacity: 1!important;
	transition: all .5s ease-in-out;
}
.headerlogo {
	width: 20%
}
#home {
	height: 100vh;
	overflow: hidden;
	position: relative;
	transition: all 1s ease-in-out;
  opacity: 1;
  display: block;
	width: 100%;
	background-color: rgb(170, 196, 23);
}
.homewrapper {
	background: radial-gradient(ellipse at center, #7c7862 0%,#302F26 99%);
	height: 100vh;
	width: 100%;
	padding-top: 300px;
	overflow: hidden;
}
.herosection {
	width: 50%;
	margin: 0 auto;
}
.herocontainer {
	width: 50%;
	position: absolute;
	margin: 0 auto;
}
#home img {
	width: 35%;
	margin-bottom: 10px
}
.herologo {
	margin-bottom: -20px;
}
#home h1 {
	color: white;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 300;
	margin-left: 50px
}
#home h1 span {
	font-weight: 700
}
.recentworkwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.recentworkintro {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center
}
.recentworkwrapper h2 {
  margin-bottom: 20px;
  text-align: center;
}
.recentworkwrapper p {
  margin-bottom: 20px;
  text-align: center;
}
.viewmore {
  display: inline-block;
  padding: 15px 20px;
  background-color: rgb(170, 196, 23);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto;
  transition: all .5s ease-in-out;
}
.viewmore:hover {
  background-color: #92A814;
}
.recentworkimages {
  height: 240px!important;
  width: 32%!important;
  background-position: center center;
  background-size: cover
}
.recentworkimageswrapper {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.internalPage {
	height: auto!important;
  display: none!important;
  opacity: 0!important
}
.internalPage > div {
  height: auto!important;
  display: none!important;
  opacity: 0!important
}
.internalPage > div > div {
  height: auto!important;
  display: none!important;
  opacity: 0!important
}
.internalPage > div > div > div {
  height: auto!important;
  display: none!important;
  opacity: 0!important
}
.downarrow {
  position: absolute;
  color: white;
  z-index: 2;
  bottom: 70px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.downarrowimage {
  display: block;
  margin: 0 auto
}
#skills {
  background: #7c7862;
}
.skillswrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.skillswrapper > div:nth-child(1) {
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 40px
}
.skillwrapper {
  display: flex;
  margin-bottom: 40px
}
.skill {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;

}
.skill h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
}
.skill p {
  color: white;
  font-weight: 300
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.row {
	margin: 0 auto;
	padding: 125px 30px 125px;
	background-color: #EFEFEF
}
#mywork {
/*  height: 100vh
*/}
.projects {
	display: flex;
	width: 100%;
	margin: 0 auto;
	position: relative;
	flex-wrap: wrap;
  justify-content: center;
}
.project {
  height: 300px;
  width: 30%;
  position: relative;
  margin: 20px;
}
.projecthover {
	z-index: 1;
	height: inherit;
	width: 100%;
	display: block;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	text-decoration: none
}
.projectinfo {
	position: relative;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    bottom: 100%;
    visibility: hidden;
    width: 100%;
    z-index: 2;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 0 auto
}
.projecthover:hover > .projectinfo {
	bottom: 0%;
	opacity: 1;
  visibility: visible;
  background-color: rgba(61, 59, 48, .8);
}
.projectinfo > div:last-of-type {
	margin-bottom: 15px
}
.projectname {
	font-size: 1.5em;
	font-weight: 400;
	text-transform: uppercase;
  margin-bottom: 10px
}
.projectsub {
	font-size: 1em;
	font-weight: 300;
}
.projectbox {
  position: relative
}
.backToRecentWork {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(255,255,255,.2);
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  transition: all .5s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px
}
.backToRecentWork:hover {
  background-color: rgba(255,255,255,.5);
  color: #656565
}
.projectdetails {
  width: 100%;
  background-color: white;
  position: relative;
  display: flex;
  padding-top: 150px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  flex-direction: column;
  transition: all .5s ease-in-out;
  opacity: 1;
  background: linear-gradient(#95D05B, #BFE09C)
}
.firstimagewrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.backtowork {
  width: 70%;
  margin: 0 auto;
  text-align: right;
}
.backtowork a {
  color: white;
  opacity: .6
}
.backtowork img {
  width: 3%;
  opacity: .6;
  transition: all .5s ease-in-out;
}
.backtowork img:hover {
  opacity: 1
}
.next a, .back a {
  border: 0 !important;
  padding: 0!important;
}

.next {
  text-align: left;
  font-size: 1.75em;
  padding-right: 10px
}
.back {
  text-align: right;
  font-size: 1.75em;
  padding-left: 10px 
}
.firstimagewrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size:2em;
  color: white;
  text-transform: uppercase
}

.firstimagewrapper a {
  text-decoration: none;
  border: 2px solid white;
  background-color: transparent;
  opacity: .6;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.firstimagewrapper a:hover {
  opacity: 1
}

.firstprojectimage {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.firstprojectimage img {
  width:60%;
  box-shadow: 0px -2px 50px rgba(0,0,0,.15);
  border: 5px solid #BEDE9C
}

.firstlinksandimagewrapper {
  width: 90%
}

.imageAndDeets {
  display: flex;
  flex-direction: column
}
.livelinks {
  width: 60%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.livelinks a {
  margin-right: 15px
}
.livelinks a:nth-child(2) {
  margin-right: 0
}
.introparagraphwrapper {
  width: 100%;
  background-color: #EFEFEF;
  padding: 100px 0 50px;
  margin-top: -15px;
  display: flex;
  justify-content: center
}
.introwrapperwrapper {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.introparagraph {
  width: 70%;
  order: 1;
}
pre {
  white-space: pre-wrap; 
  word-wrap: break-word;
  font-family: inherit;
}
.introparagraph h2 {
  font-weight: 700;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 20px
}

.sidebar {
  width: 20%;
  order: 2;
}

.sidebar ul li {
  list-style: none;
  color: rgb(170, 196, 23);
}

.sidebar ul {
  margin-bottom: 20px
}

.sidebar h3 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.2em
}
.moreprojectimages {
  display: flex;
  width: 100%;
  background-color: #EEEEEE;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px
}
.logoAndIcons {
  display: flex;
  width: 70%;
  margin: 0 auto 50px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.logoAndIcons > img {
  align-self: center;
  width: 20%
}

.logoAndIcons > img:nth-child(1) {
  flex-grow: 2;
  width:40%
}

.phonemockups {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  margin: 10px auto 0;
}

.phonemockups > img {
  width: 25%;
  height: 25%
}

.moreimages {
  display: flex;
  width: 70%;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: space-between
}

.moreimages > img {
  width: 100%;
  height: 100%;
  margin: 0 0 40px
}
.moreimages > img:nth-child(3), .moreimages > img:nth-child(4) {
  width: 49%;
}
.aboutwrapper, .contactwrapper {
  margin: 40px auto;
  width: 70%
}

.aboutwrapper > h1, .contactwrapper > h1 {
  margin-bottom: 40px
}

.aboutwrapper > p {
  margin-bottom: 20px
}

.aboutwrapper > p:last-of-type {
  margin-bottom: 40px
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
form label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: rgb(124, 120, 98);
  font-size: .8em;
  font-family: 'Montserrat', sans-serif
}
form button {
  display: inline-block;
  padding: 15px 20px;
  background-color: rgb(170, 196, 23);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  width: 25%;
  transition: all .5s ease-in-out;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-top: 40px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif
}
form button:hover {
  background-color: #92A814;
}
form input, form textarea {
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(61, 59, 48);
  background-color: white;
  font-size: 1em;
  padding: 10px;
  border-bottom: 2px solid white;
  font-family: 'Montserrat', sans-serif
}

form input:focus, form textarea:focus {
  outline: none;
  border-bottom: 2px solid rgb(170, 196, 23);
}
#js-form-response {
  background-color: rgb(212, 226, 116);
  padding: 20px;
  margin-top: 20px;
  display: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 1818px) {
  .projectname {
    font-size: 1.25em;
    font-weight: 400;
    text-transform: uppercase;
  }
  .projectsub {
    font-size: .8em;
    font-weight: 300;
    text-transform: lowercase;
  }
}

@media only screen and (max-width: 1199px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: rgb(61, 59, 48)!important
  }
  header div, nav {
    width: 100%;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav ul li {
    text-align: center;
    font-size: .8em
  }
  nav ul li:last-of-type {
    margin-right: 0
  }
  #socialicons {
    padding-top: 10px;
    justify-content: center;
  }
  header div:nth-of-type(1) {
    display: none
  }
  .headerlogo {
    width: 30%
  }
  .headerlogocontainer {
    display: inline-block!important;
  }
  /*header {
    padding: 10px 10px;
    background-color: rgb(61, 59, 48)
  }
  nav ul li {
    font-size: .7em
  }*/
  .project {
    width: 40%
  }
  form button {
    width: 40%
  }
}

@media only screen and (max-width: 767px) {
  header, footer {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    background-color: rgb(61, 59, 48)!important
  }
  .footername {
    text-align: center
  }
  header div, nav, footer div {
    width: 100%;
    margin: 0 auto;
  }
  nav ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  nav ul li {
    text-align: center;
    font-size: .8em
  }
  nav ul li:last-of-type {
    margin-right: 0
  }
  #socialicons, #footersocial {
    padding-top: 10px;
    justify-content: center;
  }
  header div:nth-of-type(1) {
    display: none
  }
  .headerlogo {
    width: 30%
  }
  .headerlogocontainer {
    display: inline-block!important;
  }
  #home {
    height: auto
  }
  .homewrapper {
    padding-top: 100px;
    padding-bottom: 200px;
    height: auto
  }
  .herosection {
    width: 90%
  }
  .herocontainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .herologo {
    text-align: center;
    margin: 0 auto;
    width: 100%
  }
  #home img {
    text-align: center;
    width: 50%
  }
  #home h1 {
    font-size: 1em;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .downarrow {
    display: none
  }
  .row {
    padding: 70px 20px;
  }
  .recentworkimages {
    width: 100%!important;
    margin-bottom: 20px
  }
  .recentworkimageswrapper {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .skillwrapper {
    flex-wrap: wrap
  }
  .skill {
    width: 100%;
    position: relative;
    margin-bottom: 20px
  }
  .viewmore {
    position: relative;
  }
  .project {
    width: 100%
  }
  #mywork {
    height: auto;
  }
  .projectdetails {
    padding-top: 50px;
  }
  .firstimagewrapper {
    width: 100%
  }
  .firstlinksandimagewrapper {
    width: 90%
  }
  .introwrapperwrapper {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
  }
  .sidebar {
    width: 100%;
    margin-top: 20px
  }
  .introparagraph {
    width: 100%
  }
  .next, .back {
    font-size: 1.2em
  }
  .firstprojectimage img {
    width: 90%
  }
  .livelinks {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .livelinks a {
    margin-right: 0
  }
  .firstimagewrapper h2 {
    font-size: 1.5em
  }
  .logoAndIcons, .moreimages, .phonemockups {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .moreimages {
    margin-bottom: 0;
    margin-top: 0
  }
  .moreimages > img {
    width: 100%!important
  }
  .phonemockups > img {
    width: 100%
  }
  .logoAndIcons > img {
    width: 100%!important
  }
  .backtowork img {
    width: 10%
  }
  .aboutwrapper, .contactwrapper {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  form button {
    width: 50%
  }
  .contactwrapper a {
    text-transform: lowercase;
  }
}

@media only screen and (max-width: 375px) {
  form button {
    width: 100%
  }
}